    body {
  overflow-x: hidden; }

  #mapa {
    height: 100%;
    width: 100%;
    background-color: #FFFFFF; }

    #menu {
      display: block;
      position: relative;
      margin-left: 30%;
      margin-top: 10px; }

      .bot {
        background-image: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%3F%3E%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20version%3D%221.0%22%3E%3Cdefs%3E%3ClinearGradient%20x1%3D%220%22%20y1%3D%220%22%20x2%3D%220%22%20y2%3D%22100%25%22%20id%3D%22g%22%3E%3Cstop%20offset%3D%220%22%20stop-color%3D%22rgb%28255%2C255%2C255%29%22%20stop-opacity%3D%220.1%22/%3E%3Cstop%20offset%3D%221%22%20stop-color%3D%22rgb%280%2C0%2C0%29%22%20stop-opacity%3D%220.1%22/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect%20x%3D%220%22%20y%3D%220%22%20fill%3D%22url%28%23g%29%22%20width%3D%22100%25%22%20height%3D%22100%25%22/%3E%3C/svg%3E");
        background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.1));
        background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.1));
        background-origin: border-box;
        border: 4px solid rgba(0, 0, 0, 0.8);
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px rgba(255, 255, 255, 0.1) inset;
        border-radius: 0.25em;
        cursor: pointer;
        display: inline-block;
        font-size: 87.5%;
        line-height: 1.5;
        margin: 0.5em 0.5em 0 0;
        padding: 0.25em 1em;
        text-align: center;
        white-space: nowrap; }
        :hover.bot, :focus.bot {
          background-image: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%3F%3E%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20version%3D%221.0%22%3E%3Cdefs%3E%3ClinearGradient%20x1%3D%220%22%20y1%3D%220%22%20x2%3D%220%22%20y2%3D%22100%25%22%20id%3D%22g%22%3E%3Cstop%20offset%3D%220%22%20stop-color%3D%22rgb%28128%2C128%2C128%29%22%20stop-opacity%3D%220.1%22/%3E%3Cstop%20offset%3D%221%22%20stop-color%3D%22rgb%280%2C0%2C0%29%22%20stop-opacity%3D%220.1%22/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect%20x%3D%220%22%20y%3D%220%22%20fill%3D%22url%28%23g%29%22%20width%3D%22100%25%22%20height%3D%22100%25%22/%3E%3C/svg%3E");
          background-image: -webkit-linear-gradient(rgba(128, 128, 128, 0.1), rgba(0, 0, 0, 0.1));
          background-image: linear-gradient(rgba(128, 128, 128, 0.1), rgba(0, 0, 0, 0.1)); }
          :active.bot {
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset; }

.bot {
  text-shadow: 0 -1px rgba(0, 0, 0, 0.25);
  background-color: #0080ff;
  border-radius: 99em;
  color: white;
  width: 200px;
  font-size: 200%; }

  #containerm {
    position: absolute;
    width: 413px;
    height: 596px;
    float: left;
    left: 40%; }

    #grafico {
      margin-top: -70px; }

      @media screen and (min-width: 1204px) {
        .modal-open .page-containerm .navbar-fixed-top {
          overflow: hidden;   }
          #gra {
            height: 277px;
            float: right;   }
}

@media screen and (max-width: 1203px) {
  body {
    overflow-y: visible;   }
    #header {
      height: auto;   }
      h1 {
        font-size: 24px;   }
        #menu {
          margin-left: 20%;   }
          #gra {
            height: 277px;
            float: right;   }
}

@media screen and (max-width: 953px) {
  #menu {
    margin-left: 20%;   }
    #gra {
      position: relative;
      float: left;
      height: 284px;
      top: 540px;
      right: -1px;   }
}

@media screen and (max-width: 493px) {
  #menu {
    display: none;   }
    #containerm {
      float: none;   }
      #gra {
        position: relative;
        float: right;
        height: 284px;
        top: 540px;
        right: -1px;
        left: 120px;   }
}

.clickme {
  width: 90px;
  height: 70px;
  background-color: #eee;
  border-radius: 4px;
  color: #666;
  display: block;
  margin-bottom: 5px;
  padding: 5px 10px;
  text-decoration: none;
  float: left; }

  .clear {
    clear: both; }

    .clickme:hover {
      text-decoration: underline; }

      h2 {
        font-size: 36px;
        text-indent: 20px;
        margin-top: 10px; }

        h1 {
          font-size: 36px;
          text-indent: 20px;
          margin-top: 80px; }

          .box {
            background-color: #ccc;
            border-radius: 4px;
            color: #333;
            margin: 5px 0;
            padding: 5px 10px;
            width: auto; }

            #gra {
              max-width: 500px;
              background: linear-gradient(rgba(0, 153, 0, 0.8), rgba(255, 200, 0, 0.8) 50%, rgba(255,
                            0, 0, 0.8));
              padding-top: 10px;
              margin-bottom: 100px;
              margin-top: 100px;
              margin-right: 10px; }

              .voice {
                width: 60px;
                height: 60px;
                float: right;
                margin-right: 20px; }