{% extends '/temporario/editar/base.html' %}

{% block conteudo %}
    <div class="col-md-12 column">
        <div class="conteudo">
            <div class="well">
                <h1>Selecione o jogo</h1>
                <table class="table">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Titulo</th>
                        <th>Mapa</th>
                        <th>Chances</th>
                        <th>Tempo</th>
                        <th>Grupo</th>
                    </tr>
                    </thead>
                    {% for jogo in jogo_lista %}
                    <tr>
                        <td><a href="{{ jogo.edit_path }}"><span class="glyphicon glyphicon-pencil" style="color: #080808"></span> </a></td>
                        <td>{{ jogo.tit }}</td>
                        <td>{{ jogo.map }}</td>
                        <td>{{ 'Unica Tentativa' if jogo.qtd == '1' else jogo.qtd}}</td>
                        <td>{{ 'Sem Limite' if jogo.tmp == '' else '%s %s' %(jogo.tmp, 'horas') }}</td>
                        <td>{{ 'Jogo Aberto' if jogo.grup == '' else jogo.grup}}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
		</div>
    </div>
{% endblock %}