{% extends 'rank/base.html' %}

{% block conteudo %}
    <div class="col-md-12 column">
        <div class="conteudo">
            <div class="left">
                <h1>Meus Jogos</h1>
                <ul>
                    <li style="color:#0000FF">Jogo Privado</li>
                    <li style="color:#FF0000">Exercício 1 - Turma A</li>
                    <img src="../static/img/image815.gif" style="heigh:200px;width:300px"/>
                    <li style="color:#0000FF">Exercício 1 - Turma B</li>
                </ul>
            </div>
            <div class=right">
                <img src="../static/img/linha-vertical.png" style="float:left;height:450px;width:6px;margin-right:10px;" />
                <h1>Andamento em Jogos</h1><img src="../static/img/depositphotos_3440843-Medal-set.jpg" />
            </div>
        </div>
    </div>
{% endblock %}