{% extends '/gerenciar/base.html' %}
{% block js %}
<script type="text/javascript" src="/static/js/lib/angular.min.js"></script>
<script type="text/javascript" src="/static/jogos/jogo_form.js"></script>
    <script type="text/javascript" src="/static/js/lib/jquery-1.11.1.min.js"></script>
<script type="text/javascript">

    var jogoApp = angular.module('jogoApp', ['jogoModulo']).config(function($interpolateProvider){
      $interpolateProvider.startSymbol("{_");
      $interpolateProvider.endSymbol("_}");
    }).controller("JogoController", function($scope, $http, $window){
        $scope.result={};
        $scope.mostra=false;
        $scope.results = [];
        $scope.is_editing = false;

        $window.onload = $scope.list_games;

    });
</script>
{% endblock %}
{% block conteudo %}
    <div class="col-md-12"  ng-app="jogoApp" ng-controller="JogoController">
        <div class="conteudo">
            <div class="well">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Primeiro</th>
                        <th></th>
                        <th>Último</th>
                        <th></th>
                        <th>Melhor</th>
                        <th></th>
                        <th>Frequ&ecirc;ncia</th>
                        <th>Conquista de Medalha</th>
                    </tr>
                    </thead>
                    {% for result in results %}
                        <tr>
                            <td>{{ result.user_name }}</td>
                            <td>{{ result.first_points }}</td>
                            <td>{{ result.first_date }}</td>
                            <td>{{ result.last_points }}</td>
                            <td>{{ result.last_date }}</td>
                            <td>{{ result.best_points }}</td>
                            <td>{{ result.best_date }}</td>
                            <td>{{ result.frequency }}</td>
                            {% if result.won_medal %}
                                <td>Sim</td>
                            {% else %}
                                <td>N&atilde;o</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </table>
            </div>
		</div>
    </div>
{% endblock %}
