{% extends '/gerenciar/base.html' %}
{% block js %}
    {{  super() }}
    <script type="text/javascript" src="/static/jogos/jogo_form.js"></script>
{%  endblock %}
{% block conteudo %}
    <script>
        angular.module('questApp', ['jogoModulo'])
    </script>
    <div class="col-md-12"  ng-app="questApp">

        <div class="conteudo">
            <div class="well">
                <button class="btn btn-primary" ng-click="quest()">Nova Pergunta</button>
                <br /><br />
                <table class="table">
                    <thead>
                    <tr>
                        <th>Trof&eacute;u</th>
                        <th>Titulo</th>
                        <th>Mapa</th>
                        <th>Chances</th>
                        <th>Tempo</th>
                        <th>Grupo</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tr ng-repeat="game in games">
                        <td ng-if="game.foto">
                            <img src="{_game.foto_}" width="40px" height="40px"/>
                        </td>
                        <td ng-if="!game.foto">
                            <img src="/static/img/default.jpg" width="40px" height="40px"/>
                        </td>
                        <td ng-bind="game.tit"></td>
                        <td ng-bind="game.map"></td>
                        <td ng-if="!game.qtd || game.qtd <= 1">Unica Tentativa</td>
                        <td ng-if="game.qtd > 1" ng-bind="game.qtd"></td>
                        <td ng-if="!game.tmp || game.tmp == 0"> Sem limite</td>
                        <td ng-if="game.tmp > 0" ng-bind="game.tmp"><span> Horas</span></td>
                        <td ng-if="!game.grp">Jogo Aberto</td>
                        <td ng-if="game.grp" ng-bind="game.grp"></td>
                        <td><button class="btn btn" ng-click="edit(game)"><span class="glyphicon glyphicon-pencil" style="color: #080808"></span></button></td>
                        <td><button class="btn btn" ng-click="remove(game.id, $index - 0)"><span class="glyphicon glyphicon-trash" style="color: #080808"></span></button></td>
                        <td class="container">
                            <form action="{{ upload_url }}" enctype="multipart/form-data" method="post">
                                <input type="hidden" name="id" value="{_game.id_}">
                                <input type="file" id="file" name="files[]">
                                <input class="btn btn-primary" type="submit" value="enviar">
                            </form>
                        </td>
                    </tr>
                </table>
            </div>
		</div>
    </div>
{% endblock %}