{% extends '/gerenciar/base.html' %}
{% block js %}
<script type="text/javascript" src="/static/angular/js/angular.min.js"></script>
<script type="text/javascript" src="/static/jogos/jogo_form.js"></script>
<script type="text/javascript">
    var jogoApp = angular.module('jogoApp', ['jogoModulo']).controller("JogoController", function($scope){
        $scope.jogo={};
        $scope.mostra=false;

        $scope.formOnOff=function(){
            $scope.mostra=!$scope.mostra;
        }
    });
</script>
{% endblock %}
{% block conteudo %}
    <div class="col-md-12"  ng-app="jogoApp" ng-controller="JogoController">
        <div class="conteudo">
            <div class="well">
                <button class="btn btn-primary" ng-click="formOnOff()">Novo Jogo</button>
                <br /><br />
                <jogoform ng-show="mostra" form-on-off="formOnOff()" game="jogo"></jogoform>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Titulo</th>
                        <th>Mapa</th>
                        <th>Chances</th>
                        <th>Tempo</th>
                        <th>Grupo</th>
                        <th></th>
                    </tr>
                    </thead>
                    {% for jogo in jogo_lista %}
                    <tr>
                        <td>{{ jogo.tit }}</td>
                        <td>{{ jogo.map }}</td>
                        <td>{{ 'Unica Tentativa' if jogo.qtd == '1' else jogo.qtd}}</td>
                        <td>{{ 'Sem Limite' if jogo.tmp == '' else '%s %s' %(jogo.tmp, 'horas') }}</td>
                        <td>{{ 'Jogo Aberto' if jogo.grup == '' else jogo.grup}}</td>
                        <td><a href="{{ jogo.edit_path }}"><span class="glyphicon glyphicon-pencil" style="color: #080808"></span> </a></td>
                        <td><a href="{{ jogo.delete_path }}"><span class="glyphicon glyphicon-trash" style="color: #080808"></span> </a></td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
		</div>
    </div>
{% endblock %}