{% extends '/gerenciar/base.html' %}
{% block js %}
<script type="text/javascript" src="/static/angular/js/angular.min.js"></script>
<script type="text/javascript" src="/static/jogos/jogo_form.js"></script>
<script type="text/javascript">

    var jogoApp = angular.module('jogoApp', ['jogoModulo']).config(function($interpolateProvider){
      $interpolateProvider.startSymbol("{_");
      $interpolateProvider.endSymbol("_}");
    }).controller("JogoController", function($scope, $http, $window){
        $scope.game={};
        $scope.mostra=false;
        $scope.games = [];
        $scope.is_editing = false;

        $scope.list = function(){
          $http.post("/jogos/rest/index").success(function(result){
            $scope.games = result;
            console.log(result);
          });
        };

        $window.onload = $scope.list;

        $scope.remove = function(game_id, index){
          $http.post("/jogos/rest/delete", {jogo_id: game_id}).success(function(){
            $scope.games.splice(index, 1);
          });
        };

        $scope.edit = function(game){
          delete game.creation
          $scope.game = game;
          $scope.mostra = true;
          $scope.is_editing = true;
          $scope.edit_or_create = 'Editar';

        };

        $scope.new = function(){
          $scope.formOnOff();
          $scope.is_editing = false;
          $scope.edit_or_create = 'Criar';
        };

        $scope.formOnOff=function(){
            $scope.mostra=!$scope.mostra;

        };

    });
</script>
{% endblock %}
{% block conteudo %}
    <div class="col-md-12"  ng-app="jogoApp" ng-controller="JogoController">
        <div class="conteudo">
            <div class="well">
                <button class="btn btn-primary" ng-click="new()">Novo Jogo</button>
                <br /><br />
                <jogoform ng-show="mostra" form-on-off="formOnOff()" game="game"
                    is-editing="is_editing" edit-or-create="edit_or_create"></jogoform>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Titulo</th>
                        <th>Mapa</th>
                        <th>Chances</th>
                        <th>Tempo</th>
                        <th>Grupo</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tr ng-repeat="game in games">
                        <td>
                            <img src="{_game.foto_}" width="40px" height="40px"/>
                        </td>
                        <td ng-bind="game.tit"></td>
                        <td ng-bind="game.map"></td>
                        <td ng-if="game.qtd == 1">Unica Tentativa</td>
                        <td ng-if="game.qtd != 1" ng-bind="game.qtd"></td>
                        <td ng-if="!game.tmp"> Sem limite</td>
                        <td ng-if="game.tmp" ng-bind="game.tmp">
                          Horas
                        </td>
                        <td ng-if="!game.grup">Jogo Aberto</td>
                        <td ng-if="game.grup" ng-bind="game.grup"></td>
                        <td><a ng-click="edit(game)"><span class="glyphicon glyphicon-pencil" style="color: #080808"></span> Editar</a></td>
                        <td><a ng-click="remove(game.id, $index - 1)"><span class="glyphicon glyphicon-trash" style="color: #080808"></span> Excluir</a></td>
                        <td class="container">
                            <form action="{{ upload_url }}" enctype="multipart/form-data" method="post">
                                <input type="hidden" name="id" value="{_game.id_}">
                                <input type="file" id="file" name="files[]">
                                <input type="submit" value="enviar">
                            </form>
                        </td>
                    </tr>
                </table>
            </div>
		</div>
    </div>
{% endblock %}
