{% extends '/gerenciar/base.html' %}
{% block js %}
    {{  super() }}
    <script type="text/javascript" src="/static/js/quests.js"></script>
{%  endblock %}
{% block conteudo %}
    <div class="col-md-12"  ng-app="questApp" ng-controller="QuestController">

        <div class="conteudo">
            <div class="well">
                <button class="btn btn-primary" ng-click="new_quest()">Nova Pergunta</button>
                <br /><br />
                <table class="table">
                    <thead>
                    <tr>
                        <th>Pergunta</th>
                        <th>Resposta</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="quest in quests">
                                <td>
                                    <p ng-show="quest.viewing_mode && quest.viewing_mode !== undefined">{_quest.question_}</p>
                                    <input ng-hide="quest.viewing_mode || quest.viewing_mode === undefined" type="text" ng-model="quest.question">
                                </td>
                                <td >
                                    <p ng-show="quest.viewing_mode && quest.viewing_mode !== undefined">{_quest.answer_}</p>
                                    <input ng-hide="quest.viewing_mode || quest.viewing_mode === undefined" type="text" ng-model="quest.answer">
                                </td>
                                <td>
                                    <button class="btn btn-success" ng-show="quest.viewing_mode" ng-click="set_viewing_mode(quest, false)"><span class="glyphicon glyphicon-pencil" style="color: #080808"></span></button>
                                    <button class="btn btn-success" ng-hide="quest.viewing_mode" ng-click="edit_quest(quest)">Salvar</button>
                                    <button class="btn btn-danger" ng-click="remove_quest($index)"><span class="glyphicon glyphicon-trash" style="color: #080808"></span></button>
                                </td>
                        </tr>
                    <label class="text-danger">{_error_message_}</label>
                    </tbody>
                </table>

            </div>
        <div ng-show="show_add_quest">
            <form ng-submit="validate_fields(new_question, new_answer) && save_quest()">
                <input type="text" ng-model="new_question" placeholder="Pergunta">
                <input type="text" ng-model="new_answer" placeholder="Resposta">
                <input class="btn btn-success" type="submit" value="Salvar" ng-disabled="has_empty_fields()">
            </form>
        </div>
        </div>
    </div>
{% endblock %}