{% extends "/base/base.html" %}
{% block conteudo %}
    <div class="col-md-12 column">
        <div class="conteudo">
            <p>Você pode jogar jogos livres, ou jogos direcionados a você ou a algum grupo que faça parte. O primeiro objetivo no jogo é acertar as perguntas (cada pergunta te dá duas chances) para ganhar medalha de bronze, acertar todas as perguntas na primeira chance para a medalha de prata e finalmente acertar todas as perguntas de primeira no tempo determinado pelo criador do jogo.</p>
            <p>Acompanhe as medalhas de seus amigos e compare pontuações e tempos com todos os outros jogadores.</p>
		</div>
    </div>
{% endblock %}