{% extends "/base/base.html" %}
{% block conteudo %}
    <div class="col-md-12 column">
        <div class="conteudo">
            <p>Ao criar um jogo, em um sistema simples e intuitivo, você escolhe como será o mapa, seleciona as perguntas e os locais clicáveis para resposta, define como as perguntas acontecerão, qual seria o tempo ótimo para a conclusão e se o jogo é aberto, para um grupo, ou para pessoas específicas.</p>
            <p>Acompanhe as medalhas de seus amigos e compare pontuações e tempos com todos os outros jogadores.</p>
		</div>
    </div>
{% endblock %}