{% extends 'jogos/base.html' %}
{% block conteudo %}
    <div class="col-md-12">
        <div class="conteudo">
            <div class="well">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Titulo</th>
                        <th>Mapa</th>
                        <th>Chances</th>
                        <th>Tempo</th>
                        <th>Grupo</th>
                        <th></th>
                    </tr>
                    </thead>
                   {% for game in games %}
                    <tr>
                        <td>{{ game.tit }}</td>
                        <td>{{ game.map }}</td>
                        <td>{{ game.qtd }}</td>
                        <td>{{ game.tmp }}</td>
                        <td>{{ game.grp }}</td>
                        <td>
                            <a role="button" class="btn btn-primary" href="jogar/{{ game.id }}">Jogar</a></td>
                    </tr>
                    {%  endfor %}
                </table>
            </div>
		</div>
    </div>
{% endblock %}
