{% extends 'criar/base.html' %}

{% block conteudo %}
    <div class="col-md-12 column">
        <div class="conteudo">
            <div class="well">
                <h1>Criando jogos</h1>
                <form action="{{ criar_jogo }}" method="post" role="form">
                    {{ csrf_input() }}
                    {{ form_input( 'Título', 'tit', '', '') }}
                    {{ for_input ( 'Pergunta', 'per', '', '') }}
                    {{ for_input ( 'Resposta', 'res', '', '') }}
                    <button type="submit" class="btn btn-success">Criar</button>
                </form>
            </div>
		</div>
    </div>
{% endblock %}