{% extends '/jogar/base.html' %}
{% block js %}
<script type="text/javascript" src="/static/js/lib/angular.min.js"></script>
<script type="text/javascript" src="/static/jogos/jogo_form.js"></script>
<script type="text/javascript">

    var jogoApp = angular.module('jogoApp', ['jogoModulo']).config(function($interpolateProvider){
      $interpolateProvider.startSymbol("{_");
      $interpolateProvider.endSymbol("_}");
    }).controller("JogoController", function($scope, $http, $window){
        $scope.game={};
        $scope.mostra=false;
        $scope.games = [];
        $scope.is_editing = false;

        $scope.list = function(){
          $http.post("/jogar/jogar").success(function(result){
            $scope.games = result;
            console.log(result);
          });
        };

        $window.onload = $scope.list;

    });
</script>
{% endblock %}
{% block conteudo %}
    <div class="col-md-12"  ng-app="jogoApp" ng-controller="JogoController">
        <div class="conteudo">
            <div class="well">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Titulo</th>
                        <th>Mapa</th>
                        <th>Chances</th>
                        <th>Tempo</th>
                        <th>Grupo</th>
                        <th>Trof&eacute;u</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tr ng-repeat="game in games">
                        <td ng-bind="game.tit"></td>
                        <td ng-bind="game.map"></td>
                        <td ng-if="!game.qtd || game.qtd <= 1">Unica Tentativa</td>
                        <td ng-if="game.qtd > 1" ng-bind="game.qtd"></td>
                        <td ng-if="!game.tmp || game.tmp == 0"> Sem limite</td>
                        <td ng-if="game.tmp > 0" ng-bind="game.tmp + ' Segundos'"></td>
                        <td ng-if="!game.grp">Jogo Aberto</td>
                        <td ng-if="game.grp" ng-bind="game.grp"></td>
                        <td ng-if="game.foto">
                            <a download="{_game.foto_}" href="{_game.foto_}">
                                <img src="{_game.foto_}" width="40px" height="40px"/>
                            </a>
                        </td>
                        <td ng-if="!game.foto">
                            <img src="/static/img/default.jpg" width="40px" height="40px"/>
                        </td>

                    </tr>
                </table>
            </div>
		</div>
    </div>
{% endblock %}
